<template>
    <q-spinner v-if="loading" class="col-6"/>
    <div v-else-if="erroed"><p>Error</p></div>
    <div v-else>
      <div class="row">
        <h3 col="12">{{hero.name}}</h3>
      </div>
      <div class="row gutter-xs">
        <info v-bind:heroId="heroId" class="col-9"/>
        <q-card class="col-3" flat>
          <q-card-media><img :src="picture" /></q-card-media>
        </q-card>
      </div>
      <div class="row gutter-xs">
        <attributes v-bind:heroId="heroId" class="col-3"/>
        <q-card class="col-3" flat>
          <q-card-title>Basiswerte</q-card-title>
          <basic-values v-bind:hero="hero"/>
        </q-card>
      </div>
   </div>
</template>
<script>
import axios from 'axios'
import Info from '@/components/sheet/Info'
import Attributes from '@/components/sheet/Attributes'
import BasicValues from '@/components/sheet/BasicValues.vue'

import data from '../data'
import HeroXMLLoader from '@/adapters/HeroLoaders'

var parseString = require('xml2js').parseString

export default {
  mounted () {
    this.heroId = this.$route.params.id
    this.picture = data.hero_list[this.$route.params.id].picture_url
    axios
      .get('/static/heroes/' + this.$route.params.id + '.xml')
      .then(response => {
        var self = this
        parseString(response.data, function (_, result) {
          let loader = new HeroXMLLoader(result.helden.held[0])
          self.hero = loader.createHero()
        })
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => (this.loading = false))
  },
  data () {
    return {
      loading: true,
      erroed: false,
      hero: {},
      picture: ''
    }
  },
  components: {
    Info,
    Attributes,
    BasicValues
  }
}
</script>
<style scoped>
.image-card {
    position: relative;
    margin-bottom: 8px;
  }
  .image-card__picture > img {
    width:100%;
  }
  .image-card__comment {
    position: absolute;
    bottom: 0;
    height: 52px;
    padding: 16px;
    text-align: right;
    background: rgba(0, 0, 0, 0.5);
  }
  .image-card__comment > span {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
</style>
