<template>
 <div>
    <div class="row gutter-xs">
      <q-card class="col-2" v-for="hero in this.heroes" :key="hero.id">
          <q-card-media>
            <img :src="hero.picture_url" />
          </q-card-media>
          <q-card-title class="image-card__comment mdl-card__actions">{{hero.name}}</q-card-title>
          <q-card-separator/>
          <q-card-actions>
            <q-btn flat  @click="displayHero(hero.id)" label="anzeigen"/>
          </q-card-actions>
      </q-card>
    </div>
  </div>
</template>
<script>
  import data from '../data'
  export default {
    methods: {
      displayHero (id) {
        this.$router.push({name: 'hero_sheet', params: { id: id }})
      }
    },
    data () {
      return {
        'heroes': data.hero_list
      }
    }
  }
</script>
<style scoped>
</style>