<template>
    <q-spinner v-if="loading" />
    <q-card flat v-else-if="error">
        <q-card-title>Error</q-card-title>
        <q-card-main>Failed to load attributes.</q-card-main>
    </q-card>
    <q-card class="sheet-attributes" flat v-else>
      <q-card-title>Eigenschaften</q-card-title>
        <table class="mdl-data-table mdl-js-data-table eigenschaften">
            <thead><th class="mdl-data-table__cell--non-numeric"></th><th  class="mdl-data-table__cell--non-numeric">Mod</th><th  class="mdl-data-table__cell--non-numeric">Start</th><th class="mdl-data-table__cell--non-numeric">Aktuell</th></thead>
           <tr v-for="a in attribute" :key="a.name"><th class="mdl-data-table__cell--non-numeric" >{{ a.name }}</th><td :id="`attribut-mod-${a.name}`">{{ a.mod }}</td><td :id="`attribut-start-${a.name}`">{{ a.start }}</td><td class="attribute-current" :id="`attribut-aktuell-${a.name}`">{{ a.current }}</td></tr>-->
        </table>
    </q-card>
</template>

<script>
export default {
  props: ['heroId'],
  created () {
    this.$context.hero.queryAttributes(this.heroId).then(a => {
      this.attribute = a
      this.loading = false
    }).catch(e => {
      console.log(e)
      this.error = true
      this.loading = false
    })
  },
  data () {
    return {
      attribute: {},
      loading: true,
      error: false
    }
  }
}
</script>

<style scoped>
td.attribute-current {
    border-left: 1px double black;
    font-weight: bold;
}

table.eigenschaften {
  border: 0;
}
</style>

