<template>
    <div class="row gutter-xs">
        <table class="mdl-data-table mdl-js-data-table basiswerte col-3">
            <tr><th>Lebenspunkte</th><td class="current" id="bv-hitpoints">{{ hero.totalHitpoints }}</td></tr>
            <tr><th>Ausdauer</th><td class="current" id="bv-endurance">{{ hero.totalEndurance }}</td></tr>
            <tr><th>Astralenergie</th><td class="current" id="bv-astralenergy">{{ hero.totalAstralEnergy }}</td></tr>
            <tr><th>Karmaenergie</th><td class="current" id="bv-karma">{{ hero.totalKarma }}</td></tr>
            <tr><th>Magieresistenz</th><td class="current">0</td></tr>
            <tr><th>INI-Basis</th><td class="current">0</td></tr>
            <tr><th>AT-Basis</th><td class="current">0</td></tr>
            <tr><th>PA-Basis</th><td class="current">0</td></tr>
            <tr><th>FK-Basis</th><td class="current">0</td></tr>
        </table>
    </div>
</template>

<script>
export default {
  props: ['hero']
}
</script>

<style scoped>
td.current {
    border-left: 1px double black;
    font-weight: bold;
}

table {
    border: 0;
}
</style>
