<template>
    <q-card flat>
        <q-spinner v-if="loading"/>
        <q-card v-else-if="error">
            <q-card-title>Error</q-card-title>
            <q-card-main id="info-error-message">failed to load hero information</q-card-main>
        </q-card>
        <q-tabs v-else>
            <q-tab default slot="title" name="grundwerte" label="Info"/>
            <q-tab slot="title" name="aussehen" label="Aussehen"/>
            <q-tab slot="title" name="familie" label="Familie" v-if="info.familie.length > 0"/>

            <q-tab-pane name="grundwerte">
                <table class="mdl-data-table mdl-js-data-table">
                    <tr><th class="mdl-data-table__cell--non-numeric">Geschlecht</th><td id="info-geschlecht" class="mdl-data-table__cell--non-numeric">{{info.grundwerte.geschlecht}}</td></tr>
                    <tr><th class="mdl-data-table__cell--non-numeric">Rasse</th><td id="info-rasse" class="mdl-data-table__cell--non-numeric">{{info.grundwerte.rasse}}</td></tr>
                    <tr><th class="mdl-data-table__cell--non-numeric">Kultur</th><td id="info-kultur" class="mdl-data-table__cell--non-numeric">{{info.grundwerte.kultur}}</td></tr>
                    <tr v-for="ausbildung in info.grundwerte.ausbildungen"><th class="mdl-data-table__cell--non-numeric">Profession</th><td class="mdl-data-table__cell--non-numeric">{{ausbildung}}</td></tr>
                    <tr><th class="mdl-data-table__cell--non-numeric">Geburtstag</th><td class="mdl-data-table__cell--non-numeric">{{info.grundwerte.geburtstag}}</td></tr>
                    <tr v-if="info.grundwerte.stand"><th class="mdl-data-table__cell--non-numeric">Stand</th><td class="mdl-data-table__cell--non-numeric">{{info.grundwerte.stand}}</td></tr>
                    <tr v-if="info.grundwerte.titel"><th  class="mdl-data-table__cell--non-numeric">Titel</th><td class="mdl-data-table__cell--non-numeric">{{info.grundwerte.titel}}</td></tr>
                </table>
            </q-tab-pane>

            <q-tab-pane name="aussehen">
                <table class="mdl-data-table mdl-js-data-table">
                    <tr><th class="mdl-data-table__cell--non-numeric">Gr&ouml;&szlig;e &amp; Gewicht</th><td class="mdl-data-table__cell--non-numeric">{{info.aussehen.groesse}} cm,  {{info.aussehen.gewicht}} kg</td></tr>
                    <tr><th class="mdl-data-table__cell--non-numeric">Augenfarbe</th><td class="mdl-data-table__cell--non-numeric">{{info.aussehen.augenfarbe}}</td></tr>
                    <tr><th class="mdl-data-table__cell--non-numeric">Haarfarbe</th><td class="mdl-data-table__cell--non-numeric">{{info.aussehen.haarfarbe}}</td></tr>
                    <tr v-for="description in info.aussehen.beschreibung"><td colspan="2" class="mdl-data-table__cell--non-numeric">{{description}}</td></tr>
                </table>
            </q-tab-pane>

             <q-tab-pane name="familie" v-if="info.familie.length > 0">
                <table class="mdl-data-table mdl-js-data-table">
                    <tr><td v-for="familydescr in info.familie" colspan="2" class="mdl-data-table__cell--non-numeric">{{familydescr}}</td></tr>
                </table>
             </q-tab-pane>
        </q-tabs>
    </q-card>
</template>
<script>
export default {
  props: ['heroId'],
  created () {
    this.$context.hero.queryInformation(this.heroId).then(info => {
      this.info = info
      this.loading = false
    }).catch(error => {
      console.log(error)
      this.error = true
      this.loading = false
    })
  },
  data () {
    return {
      loading: true,
      info: {},
      error: false
    }
  }
}
</script>
<style scoped>
h3 {
    text-align: center;
}

table {
    border: 0;
}
</style>
