<template>
  <q-layout>
    <q-layout-header>
      <q-toolbar color="primary">
        <q-toolbar-title>Rondras Tafel</q-toolbar-title>
        <router-link to="/">
          <q-btn flat dense icon="person" label="Helden"/>
        </router-link>
      </q-toolbar>
    </q-layout-header>
    <q-page-container>
        <router-view></router-view>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'app',
  methods: {
    hideMenu: function () {
      document.getElementsByClassName('mdl-layout__drawer')[0].classList.remove('is-visible')
      document.getElementsByClassName('mdl-layout__obfuscator')[0].classList.remove('is-visible')
    }
  }
}
</script>

<style>
  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
  @import url('https://code.getmdl.io/1.2.1/material.blue-red.min.css');
</style>